@import "./base.css";

#app_1{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #291c97;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body_2 {
    display: flex;
    place-items: center;
  }

  #app_1 {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
